@model KershKeepers.Models.EFModels.Provider

<div class="avatar">
    <img alt="" style="width: 100px; height: 100px;max-width: 100px;max-height: 100px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 5px solid rgba(255,255,255,0.5);" src="@Url.Content(Model.Image)">
</div>
<div class="info">
    <div class="title">
        <a target="_blank" href="#">@Model.Name</a>
    </div>
    @*<div class="desc">@Model.Description</div>*@
</div>